mixin description(h1,p)
  .iam-profile-description
    .header
      p.im-virtue=h1
    .section
      p.--text= p
      block

mixin description-image(h1,messageDescription)
  .description-card
    .title
      p.t= h1
    .description 
      p.text-description= messageDescription


mixin profile(image)
  .my-profile
    .front-view-detail
      .card-panel
        .title-name
          h3 Mineria y Construccion
          h1= data_profile.name
        .description 
          ul 
            each i in data_profile.description
              li
                p= i.text
    .back-view
        img(src= image)
